

body {
    color:white;
    background-image: url("./images/universe.jpg");
    background-size: cover;
    text-align: center;
}

.btn {
    padding: 4px 8px;
    background-color: white;
    border: none;
    font-size: 1.2em
}